apiVersion: v1
kind: Pod
metadata:
  name: hello
  labels:
    app: hello
spec:
  containers:
    - name: "hello:1.0.0"
      image: gcr.io/pofc003/hello:1.0.0
      args:
        - "-http=0.0.0.0:80"
        - "-secret=secret"
      ports:
        - name: http
          containerPort: 80
      resources:
        limits:
          cpu: 0.2
          memory: "10Mi"
